{% extends 'main.html' %}
{% load static %}
{% block content %}

   
    <div class="container-fluid numbers">
        <a class="btn btn-dark mt-5" href='{% url "home" %}'>Back</a>
        <h1 class="text-center">ENVIRONMENT</h1>
        
        <h4>NATURAL</h4>
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <div class="col-md-3 hoov shapes">
                <div onclick="playsun()">
                <img src="{% static 'images/environment images/sun.jpg' %}" class=" img-fluid">
                    <audio id="audiosun" src="{% static 'audios/audio/sun.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Sun</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playmoon()">
                    <img src="{% static 'images/environment images/moon.jpg'%}" class=" img-fluid">
                    <audio id="audiomoon" src="{% static 'audios/audio/moon.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Moon</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playstars()">
                    <img src="{% static 'images/environment images/stars.jpg' %}" class=" img-fluid">
                    <audio id="audiostars" src="{% static 'audios/audio/stars.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Stars</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playsky()">
                    <img src="{% static 'images/environment images/sky.jpg'%}" class=" img-fluid">
                    <audio id="audiosky" src="{% static 'audios/audio/sky.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Sky</h2>
                </div>
            </div>
        </div>
        <!-- plants -->
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <h4>PLANTS</h4>
            <div class="col-md-3 shapes">
                <div onclick="playleave()">
                    <img src="{% static 'images/environment images/leave tree.jpg'%}" class=" img-fluid">
                    <audio id="audioleave" src="{% static 'audios/audio/leaves.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Plants</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playtree()">
                    <img src="{% static 'images/environment images/trees.jpg'%}" class=" img-fluid">
                    <audio id="audiotree" src="{% static 'audios/audio/tree.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Tree</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playforest()">
                    <img src="{% static 'images/environment images/forrest.jpg' %}" class=" img-fluid">
                    <audio id="audioforest" src="{% static 'audios/audio/forest.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Forest</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playgrass()">
                    <img src="{% static 'images/environment images/grass.jpg'%}" class=" img-fluid">
                    <audio id="audiograss" src="{% static 'audios/audio/grasss.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Grass</h2>
                </div>
            </div>
        </div>
        <!-- water bodies -->
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <h4>WATER BODIES</h4>
            <div class="col-md-3 shapes">
                <div onclick="playocean()">
                    <img src="{% static 'images/environment images/ocean water.jpg' %}" class=" img-fluid">
                    <audio id="audiocean" src="{% static 'audios/audio/ocean.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Ocean Water</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playriver()">
                    <img src="{% static 'images/environment images/river water.jpg'%}" class=" img-fluid">
                    <audio id="audioriver" src="{% static 'audios/audio/river.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">River</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playlake()">
                    <img src="{% static 'images/environment images/lake water.jpg'%}" class=" img-fluid">
                    <audio id="audiolake" src="{% static 'audios/audio/lake.mp4' %}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Lake</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playwaterfall()">
                    <img src="{% static 'images/environment images/water falls.jpg' %}" class=" img-fluid h-25">
                    <audio id="audiowaterfall" src="{% static 'audios/audio/waterfall.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">waterfall</h2>
                </div>
            </div>
        </div>
        <!-- landscape -->
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <h4>LANDSCAPE</h4>
            <div class="col-md-3 shapes">
                <div onclick="playmount()">
                    <img src="{% static 'images/environment images/mountain.jpg'%}" class=" img-fluid">
                    <audio id="audiomount" src="{% static 'audios/audio/moutain.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Mountain</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playhill()">
                    <img src="{% static 'images/environment images/hills.jpg' %}" class=" img-fluid">
                    <audio id="audiohill" src="{% static 'audios/audio/hill.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Hills</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playmaunt()">
                    <img src="{% static 'images/environment images/mountains.jpeg'%}" class=" img-fluid">
                    <audio id="audiomaunt" src="{% static 'audios/audio/moutains.mp4'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Mountains</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <img src="{% static 'images/environment images/small hills.jpg'%}" class=" img-fluid">
                <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Small Hill</h2>
            </div>
        </div>
        <!-- Seasons -->
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <h4>SEASONS OF THE YEAR</h4>
            <div class="col-md-3 shapes">
                <div onclick="playsummer()">
                    <img src="{% static 'images/seasons/summer.jpg'%}" class=" img-fluid" style="height:250px;">
                    <audio id="summer" src="{% static 'audios/season/summer.mp3'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Summer</h2>
                </div>
            </div>
            <div class="col-md-3 Shapes">
                <div onclick="playwinter()">
                    <img src="{% static 'images/seasons/winter.jpg' %}" class=" img-fluid" style="height:250px;">
                    <audio id="winter" src="{% static 'audios/season/winter.mp3'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Winter</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playsprint()">
                    <img src="{% static 'images/seasons/sprint.jpg'%}" class=" img-fluid" style="height:250px;">
                    <audio id="sprint" src="{% static 'audios/season/sprint.mp3'%}"></audio>
                    <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Sprint</h2>
                </div>
            </div>
            <div class="col-md-3 shapes">
                <div onclick="playautum()">
                <img src="{% static 'images/seasons/autum.jpg'%}" class=" img-fluid" style="height:250px;">
                <audio id="autum" src="{% static 'audios/season/autum.mp3'%}"></audio>
                <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Autum</h2>
                </div>
            </div>
        </div>
    
        <div class="row ma shadow p-3 mb-5 bg-body rounded">
            <div class="col-md-3 ">
                <div onclick="playall()">
                    <img src="{% static 'images/seasons/all season.jpg'%}" class=" img-fluid"  style="height:250px;">
                    <audio id="all" src="{% static 'audios/season/all.mp4'%}"></audio>
                   
                </div>
            </div>
            <div class="col-md-3 ">
                <div>
                    <img src="{% static 'images/seasons/all seson.jpg' %}" class=" img-fluid"  style="height:250px;  width: 350px;">
                    <audio id="audiohill" src="{% static 'audios/audio/hill.mp4'%}"></audio>
                   
                </div>
            </div>
            <div class="col-md-3 ">
                <div onclick="playmaunt()">
                    <img src="{% static 'images/seasons/all.jpg'%}" class=" img-fluid"  style="height:250px;  width: 350px;">
                    <audio id="audiomaunt" src="{% static 'audios/audio/moutains.mp4'%}"></audio>
                   
                </div>
            </div>
            <div class="col-md-3 ">
                <img src="{% static 'images/seasons/monseasn.jpg'%}" class=" img-fluid"  style="height:250px; width: 350px;">
                
            </div>
        </div>
       
    </div>
    </div>
    {% endblock %}