{% extends 'main.html' %}

{% load static %}

{% block content %}

section>
    <div class="slider">
        <div class="slide active">
          <img src="{% static 'images/pics1.jpg' %}" alt="">
          <div class="info">
            <h2>Winter Mountains</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="slide">
  <img src="{% static 'images/pics6.jpg' %}" alt="">
          <div class="info">
            <h2>Tropical Desert</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="slide">
          <img src="{% static 'images/pics3.jpg' %}" alt="">
          <div class="info">
            <h2>Steaming Volcanoes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="slide">
          <img src="{% static 'images/pics9.jpg' %}" alt="">
          <div class="info">
            <h2>Mountain River</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="slide">
          <img src="{% static 'images/pics7.jpg' %}" alt="">
          <div class="info">
            <h2>Egypt Pyramids</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="navigation">
          <i class="fas fa-chevron-left prev-btn"></i>
          <i class="fas fa-chevron-right next-btn"></i>
        </div>
        <div class="navigation-visibility">
          <div class="slide-icon active"></div>
          <div class="slide-icon"></div>
          <div class="slide-icon"></div>
          <div class="slide-icon"></div>
          <div class="slide-icon"></div>
        </div>
      </div>
    </section> 

<!-- counter -->
<section class="count">

    <div class="box-container">
 
       <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <div class="content">
             <h3>150+</h3>
             <p>courses</p>
          </div>
       </div>
 
       <div class="box">
          <i class="fas fa-user-graduate"></i>
          <div class="content">
             <h3>1300+</h3>
             <p>children</p>
          </div>
       </div>
 
       <div class="box">
          <i class="fas fa-chalkboard-user"></i>
          <div class="content">
             <h3>80+</h3>
             <p>teachers</p>
          </div>
       </div>
 
       <div class="box">
          <i class="fas fa-face-smile"></i>
          <div class="content">
             <h3>100%</h3>
             <p>satisfaction</p>
          </div>
       </div>
 
    </div>
 
 </section>


 <section id="subject">
   
   <h1>OUR ACTIVITIES</h1>
  
   <article class="sub">
    <div class="cont"><a href="{% url 'read' %}">
        <div class="title read"><h2>Reading and Language arts</h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li> Uppercase and lowercase letter recognition</li>
                    <li>Phonics</li>
                    <li>Rhyming words and word families</li>
                    <li>Sentence structure</li>
                    <li>Parts of speech</li>
                    <li>Short Stories</li>
                </ul>
            </div>
            <div>
                <img src="{% static 'images/read.jpg' %}"/>
            </div>
        </div>
    </a>
    </div>
    <div class="cont"><a href="{% url 'math' %}">
        <div class=" title math"><h2>Math</h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li> Recognizing and counting numbers 1–120</li>
                    <li>The base ten system</li>
                    <li>Place value</li>
                    <li>Addition and subtraction</li>
                    <li>Names and attributes of 2D and 3D shapes</li>
                    <li>Length, time, and money measurement</li>
                </ul>
            </div>
            <div>
              <img src="{% static 'images/maths_icon_varwhq.webp' %}"/>
            </div>
        </div>
    </a>
    </div>

    <div class="cont"><a href="{% url 'environment' %}">
        <div class=" title world"><h2>World Around us</h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li>The body and health</li>
                    <li>Plants and animals</li>
                    <li>RWeather, climate, and the seasons</li>
                    <li>Earth's environments and Maps</li>
                    <li>Regions of Kenya</li>
                    <li>The Solar System</li>
                    <li>Matter and its properties</li>
                </ul>
            </div>
            <div>
                <img src="{% static 'images/envi.webp' %}"/>
            </div>
        </div>
    </a>
    </div>


    <div class="cont"><a href="{% url 'color' %}">
        <div class=" title color"><h2>Colors and Arts</h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li> Primary and secondary colors</li>
                    <li>Shades of colors</li>
                    <li>Paint-by-number activities</li>
                    <li>Number and letter dot-to-dots</li>
                  
                </ul>
            </div>
            <div>
                <img src="{% static 'images/color.jpg' %}"/>
            </div>
        </div>
    </a>
    </div>


    <div class="cont"><a href="{% url 'comp' %}">
        <div class=" title comp"><h2>Computing and ICT</h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                </ul>
            </div>
            <div>
                <img src="{% static 'images/comp.webp' %}"/>
            </div>
        </div>
    </a>
    </div>


    <div class="cont"><a href="{% url 'religion' %}">
        <div class="title dom"><h2>Religion Activity </h2></div>
        <div class="cont2">
            <div>
                <ul>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                    <li>Recognising UpperCase and lLowerCase Latter</li>
                </ul>
            </div>
            <div>
                <img src="{% static 'images/reli.jpg' %}"/>
            </div>
        </div>
    </a>
    </div>
</article>
</section>


  


        
    


{% endblock content %}