{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div>

    <div class="container-fluid ma shadow p-3 mb-5 bg-body rounded">
     <a class="btn btn-dark mt-5" href='{% url "home" %}'>Back</a>
      <h1 class="text-center">Mathematics </h1>
      <h3 class="text-center">Numbers</h3>
      <div class="d-flex justify-content-around">
        <div class="nums" id="myOne" onclick="One()">
          <p class=" display-3  fw-bolder">1</p>
          <audio id="1" src="{% static 'audios/nums/one.mp3' %}"></audio>
          <h3 class="d-non fw display-5 text-center text-white bg-dark">One</h3>
        </div>
        <div class="nums" id=" " onclick="two()">
          <p class=" display-3  fw-bolder">2</p>
          <audio id="2" src="{% static 'audios/nums/2.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Two</h3>
        </div>
        <div class="nums" id=" " onclick="three()">
          <p class=" display-3  fw-bolder">3</p>
          <audio id="3" src="{% static 'audios/nums/3.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Three</h3>
        </div>
        <div class="nums" id=" " onclick="four()">
          <p class=" display-3  fw-bolder">4</p>
          <audio id="4" src="{% static 'audios/nums/4.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Four</h3>
        </div>
        <div class="nums" id=" " onclick="five()">
          <p class=" display-3  fw-bolder">5</p>
          <audio id="5" src="{% static 'audios/nums/5.mp3'%}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Five</h3>
        </div>
      </div>
      <div class=" d-flex justify-content-around mt-5">
        <div class="nums" id=" " onclick="six()">
          <p class=" display-3  fw-bolder">6</p>
          <audio id="6" src="{% static 'audios/numbers/six.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Six</h3>
        </div>
        <div class="nums" id=" " onclick="seven()">
          <p class=" display-3  fw-bolder">7</p>
          <audio id="7" src="{% static 'audios/numbers/seven.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Seven</h3>
        </div>
        <div class="nums" id=" " onclick="eight()">
          <p class=" display-3  fw-bolder">8</p>
          <audio id="8" src="{% static 'audios/numbers/eight.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Eight</h3>
        </div>
        <div class="nums" id=" " onclick="nine()">
          <p class=" display-3  fw-bolder">9</p>
          <audio id="9" src="{% static 'audios/numbers/nine.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Nine</h3>
        </div>
        <div class="nums" id=" " onclick="ten()">
          <p class=" display-3  fw-bolder">10</p>
          <audio id="10" src="{% static 'audios/numbers/ten.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Ten</h3>
        </div>
        
      </div>

      <div class=" d-flex justify-content-around mt-5">
        <div class="nums" id=" " onclick="six()">
          <p class=" display-3  fw-bolder">11</p>
          <audio id="6" src="{% static 'audios/numbers/six.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Eleven</h3>
        </div>
        <div class="nums" id=" " onclick="seven()">
          <p class=" display-3  fw-bolder">12</p>
          <audio id="7" src="{% static 'audios/numbers/seven.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Tweleve</h3>
        </div>
        <div class="nums" id=" " onclick="eight()">
          <p class=" display-3  fw-bolder">13</p>
          <audio id="8" src="{% static 'audios/numbers/eight.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Thirteen</h3>
        </div>
        <div class="nums" id=" " onclick="nine()">
          <p class=" display-3  fw-bolder">14</p>
          <audio id="9" src="{% static 'audios/numbers/nine.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Fourteen</h3>
        </div>
        <div class="nums" id=" " onclick="ten()">
          <p class=" display-3  fw-bolder">15</p>
          <audio id="10" src="{% static 'audios/numbers/ten.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Fifteen</h3>
        </div>
        
      </div>

      <div class=" d-flex justify-content-around mt-5">
        <div class="nums" id=" " onclick="six()">
          <p class=" display-3  fw-bolder">16</p>
          <audio id="6" src="{% static 'audios/numbers/six.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Sixteen</h3>
        </div>
        <div class="nums" id=" " onclick="seven()">
          <p class=" display-3  fw-bolder">17</p>
          <audio id="7" src="{% static 'audios/numbers/seven.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Seventeen</h3>
        </div>
        <div class="nums" id=" " onclick="eight()">
          <p class=" display-3  fw-bolder">18</p>
          <audio id="8" src="{% static 'audios/numbers/eight.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Eighteen</h3>
        </div>
        <div class="nums" id=" " onclick="nine()">
          <p class=" display-3  fw-bolder">19</p>
          <audio id="9" src="{% static 'audios/numbers/nine.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Nineteen</h3>
        </div>
        <div class="nums" id=" " onclick="ten()">
          <p class=" display-3  fw-bolder">20</p>
          <audio id="10" src="{% static 'audios/numbers/ten.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white bg-dark">Twenty</h3>
        </div>
        
      </div>


    </div>


    <!-- shapes section begins here -->

    <div class="container-fluid ma shadow p-3 mb-5 bg-body rounded">
      <h3 class="text-center mt-5">Shapes</h3>
      <div class="row">
        <h3 class="text-center mt-5">2D Shapes</h3>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/square.jpeg' %}" onclick="square()" alt="square">
          <audio id="square" src="{% static 'audios/shapes/square.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Square</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/circle.jpeg'%}" onclick="circle()" alt="circle">
          <audio id="circle" src="{% static 'audios/shapes/circle.mp3'%}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Circle</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/triangle.jpeg'%}" onclick="triangle()" alt="triangle">
          <audio id="triangle" src="{% static 'audios/shapes/triagle.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Triangle</h2>
        </div>
      </div>
      <div class="row mt-5 me-1">
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/oval.jpeg' %}" onclick="oval()" alt="oval">
          <audio id="oval" src="{% static 'audios/shapes/oval.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Oval</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/rectangle.jpeg' %}" onclick="rectangle()"
            alt="rectangle">
          <audio id="rectangle" src="{% static 'audios/shapes/Rectangle.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Rectangle</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/heart.jpeg' %}" onclick="heart()" alt="heart">
          <audio id="heart" src="{% static 'audios/shapes/heart.mp3'%}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Heart</h2>
        </div>
        <div class="row mt-5">
          <div class=" col shapes">

            <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/star.png' %}" onclick="star()" alt="star">
            <audio id="star" src="{% static 'audios/shapes/Star.mp3'%}"></audio>
            <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Star</h2>
          </div>
          <div class=" col shapes">

            <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/pentagon.png'%}" onclick="pentagon()" alt="pentagon">
            <audio id="pentagon" src="{% static 'audios/shapes/pentagon.mp3' %}"></audio>
            <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Pentagon</h2>
          </div>
          <div class=" col shapes">

            <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/rhombus.png' %}" onclick="rhombus()" alt="rhombus">
            <audio id="rhombus" src="{% static 'audios/shapes/rhombas.mp3' %}"></audio>
            <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Rhombus</h2>
          </div>
        </div>
      </div>


      
    </div>

    <!-- 3d shapes -->
    <div class="container-fluid ma shadow p-3 mb-5 bg-body rounded">
      <h3 class="text-center mt-5">3D Shapes</h3>
      <div class="row">
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/cone.png' %}" onclick="cone()" alt="square">
          <audio id="cone" src="{% static 'audios/shapes/cone.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Cone</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/cube.png'%}" onclick="cube()" alt="circle">
          <audio id="cube" src="{% static 'audios/shapes/cube.mp3'%}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Cube</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/cylinder2.png'%}" onclick="cylinder()" alt="triangle">
          <audio id="cylinder" src="{% static 'audios/shapes/cylinder.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Cylinder</h2>
        </div>
      </div>
      <div class="row mt-5 me-1">
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/sphere.png' %}" onclick="sphere()" alt="oval">
          <audio id="sphere" src="{% static 'audios/shapes/sphere.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Sphere</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/cylinder.png' %}" onclick="cylinder()"
            alt="rectangle">
          <audio id="cylinder" src="{% static 'audios/shapes/cylinder.mp3' %}"></audio>
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">Cylinder</h2>
        </div>
        <div class=" col shapes">
          <img class="img-fluid" id="squareShape" src="{% static 'images/img-math/coverimage.png' %}"  alt="all">
          <!-- <audio id="heart" src="{% static 'audios/shapes/heart.mp3'%}"></audio> -->
          <h3 class="d-non display-5 text-center text-white  bg-dark" id="myquare">All 3D</h2>
        </div>
   


      
    </div>

    <!-- Lets do Some Maths begins here -->
    <div class=" container-fluid ma shadow p-3 mb-5 bg-body rounded text-center">
      <h1 class=" text-center display-3">Addition and Subtractions</h1>
     
      <main class=" d-flex justify-content-lg-between">
        <section class=" w-50 bg-info p-4">
          <h1>Additon</h1>
          <div class=" d-flex justify-content-md-around">
            <div class="setA d-flex justify-content-md-between">
              <p class="triangles"></p>
              <p class="triangles"></p>
            </div>
            <div>
              <p id="plus"></p>
            </div>
            <div class="setB bg-warning d-flex justify-content-md-between">
              <p class="triangles"></p>
              <p class="triangles"></p>
            </div>
          </div>
          <button id="Add" class=" btn btn-lg btn-success w-25">Add</button>
          <div id="addResults" class=" d-flex justify-content-md-center bg-success w-75 m-auto pt-5 pb-5 px-5">
            <p class="triangles sum sum1"></p>
            <p class="triangles sum sum2"></p>
            <p class="triangles sum sum3"></p>
            <p class="triangles sum sum4"></p>
          </div>

        </section>
        <section class=" w-50 bg-dark p-3">
          <h1 class=" text-white">Subtraction</h1>
          <div class=" d-flex justify-content-md-around">
            <div class="setA sub d-flex justify-content-md-between">
              <p class="triangles"></p>
              <p class="triangles"></p>
              <p class="triangles"></p>
            </div>
            <div>
              <p id="subtract" ></p>
            </div>
            <div class="setB  sub d-flex justify-content-md-between">
              <p class="triangles"></p>
              <p class="triangles"></p>
            </div>
          </div>
          <button id="subtractt" class=" btn btn-lg btn-success w-25">Subtraction</button>
          <div id="subResults" class=" d-flex justify-content-md-center bg-success w-75 m-auto pt-5 pb-5 px-5">
            <p class="triangles sub sub1"></p>
           
          </div>


        </section>

      </main>

      

    </div>

    
  </div>
 
{% endblock %}