{% load static %}


  <nav>
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen' ></i>
        <span class="logo navLogo"><a href="{% url 'home' %}"><img src="{% static 'images/log.png' %}"/></a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/log.png' %}"/></a></span></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
              
                {%  if request.user.is_authenticated %}
              
                <li><a href="{% url 'account' %}">account</a></li> 
                <li><a href="{% url 'logout' %}">logout</a></li> 
                {% else%}
                <li><a href="{% url 'login' %}">login/register</a></li> 
                {%endif%}
            </ul>
        </div>

        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>

            <div class="searchBox">
               <div class="searchToggle">
                <!-- <i class='bx bx-x cancel'></i>
                <i class='bx bx-search search'></i> -->
               </div>

                <!-- <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search'></i>
                </div> -->
            </div>
        </div>
    </div>
</nav>